<div class="row">
  <div class="col-lg-4" *ngFor="let item of restaurants">
    <div class="card mb-3">
      <img [src]="imageUrl + item.image" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.description }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let fd of (item.food_items || [])">
          <div class="d-inline-flex justify-content-start align-items-center">
            <i class="fa fa-cutlery mr-2 text-primary"></i>
            <span>{{ fd.name }}</span>
          </div>
          <span>{{ fd.price }}</span>
        </li>
      </ul>
      <div class="card-body">
        <a [routerLink]="['../details', item.id]" class="card-link">More Details</a>
      </div>
    </div>
  </div>
</div>